@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #110F12;
  --secondary-color: #0059ff;
}

body {
  font-family: var(--font-karla);
  @apply text-white;
}

@layer {
  .slick-prev::before,
  .slick-next::before {
    @apply !text-secondary !text-3xl;
  }

  .slick-list {
    @apply mx-1;
  }

  .slick-list .slick-slide > div {
    @apply px-1.5;
  }

  .falling {
    position: relative;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    box-shadow: 9999px 0 0 0 var(--secondary-color);
    animation: falling 1s infinite linear;
    animation-delay: 0.1s;
  }

  .falling::before,
  .falling::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .falling::before {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    animation: falling-before 1s infinite linear;
    animation-delay: 0s;
  }

  .falling::after {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    animation: falling-after 1s infinite linear;
    animation-delay: 0.2s;
  }
}

@keyframes falling {
  0% {
    box-shadow: 0px -20px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: 0px 0 0 0 var(--secondary-color);
  }

  100% {
    box-shadow: 0px 20px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes falling-before {
  0% {
    box-shadow: -38px -20px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: -38px 0 0 0 var(--secondary-color);
  }

  100% {
    box-shadow: -38px 20px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes falling-after {
  0% {
    box-shadow: 38px -20px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: 38px 0 0 0 var(--secondary-color);
  }
  100% {
    box-shadow: 38px 20px 0 0 rgba(152, 128, 255, 0);
  }
}
