@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #110f12;
  --secondary-color: #00a0f0;
  --background: #e8e9ed;
  --foreground: black;

  --accent: #d6dbdc;
  --accent-foreground: #1c1f21;

  --destructive: #b5004a;
  --destructive-foreground: #f9f9f9;

  --ring: #aebcc6;

  --radius: 8px;
  --gradient: linear-gradient(90deg, #75c2f6 0%, #fbeeac 100%);

  --base: #191b1f;
  --disable: #bdbdbd;
  --secondary-1: #f4901e;
  --text-primary: #4f4f4f;
  --pending: #ffa940;
  --base2: #191b1f;
  --success: #30cd60;

  --line: #555e71;
  --error: #da4343;

  --gray100: #f0f1f1;
  --gray200: #c9cace;
  --gray300: #a1a4a9;
  --gray400: #7c7e84;
  --gray500: #595b5f;
  --gray600: #383a3d;
  --gray700: #1b1c1d;
}

[data-theme='dark'] {
  --background: #110f12;
  --foreground: white;
}

body {
  font-family: var(--font-karla);
}

@layer {
  .slick-prev::before,
  .slick-next::before {
    @apply !text-secondary !text-3xl;
  }

  .slick-track {
    @apply !w-full;
  }

  .slick-list {
    @apply mx-1 !flex !pt-3;
  }

  .slick-list .slick-slide > div {
    @apply px-1.5;
  }

  .slick-slide {
    @apply !w-fit;
  }

  .falling {
    position: relative;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    box-shadow: 9999px 0 0 0 var(--secondary-color);
    animation: falling 1s infinite linear;
    animation-delay: 0.1s;
  }

  .falling::before,
  .falling::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .falling::before {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    animation: falling-before 1s infinite linear;
    animation-delay: 0s;
  }

  .falling::after {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    animation: falling-after 1s infinite linear;
    animation-delay: 0.2s;
  }
}

@keyframes falling {
  0% {
    box-shadow: 0px -20px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: 0px 0 0 0 var(--secondary-color);
  }

  100% {
    box-shadow: 0px 20px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes falling-before {
  0% {
    box-shadow: -38px -20px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: -38px 0 0 0 var(--secondary-color);
  }

  100% {
    box-shadow: -38px 20px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes falling-after {
  0% {
    box-shadow: 38px -20px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: 38px 0 0 0 var(--secondary-color);
  }
  100% {
    box-shadow: 38px 20px 0 0 rgba(152, 128, 255, 0);
  }
}
